body {
  background: #ffffff;
}

h1 {
  font-size: 1.2em;
  font-family: 'Roboto' !important;
  font-style: normal;
  font-weight: 100;
  strong {
    font-weight: 400;
  }
}

p {
  font-style: normal;
  font-weight: 100;
  font-size: 0.9em;
  .roboto {
    font-family: 'Roboto' !important;
  }
}

.compatibility {
  padding: 4px;
  tr {
    padding: 4px;
//    border: 1px solid #000000;
  }
  td {
    padding: 4px 8px;
    border: 1px solid #000000;
    background: #00CC33;
  }
  .alert {
    background: darkorange;
  }
  .none {
    background: none;
    border: 1px solid #000000;
  }
  .empty {
    border: 0;
  }
}

.full {
  height: 100%;
}